<div class="container margin-top">
  <div class="row">
    <h1>Usuario <%= @user.name.titleize %></h1>
  </div>
  <div class="row">
    <div class="col-sm">
      <table>
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Familia de metas</th>
            <th>Cargo</th>
            <th>Área</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td> <%= @user.name %> </td>
            <td> <%= @user.family_goal.family_name %> </td>
            <td> <%= @user.family_goal.position %> </td>
            <td> <%= @user.family_goal.area %> </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
